/* Header container styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes logo to the left and buttons to the right */
  background-color: #f4f4f4;
  padding: 10px 20px; /* Add padding for spacing */
}

/* Logo styles */
.logo {
  font-size: 24px; /* Adjust the size as needed */
  font-weight: bold;
}

/* Login button and other buttons styles */
.buttons {
  display: flex;
  align-items: center;
}

.login-button,
.examples-button,
.home-button,
.getting-started-button,
.docs-button {
  background-color: #255f82; /* Background color for buttons */
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px; /* Add margin to separate buttons */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
.login-button:hover,
.examples-button:hover,
.home-button:hover,
.getting-started-button:hover,
.docs-button:hover {
  background-color: #007acc; /* Change background color on hover */
}
