/* Common styles for all buttons */
.button {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  position: absolute;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}

/* Individual button styles */
.docs {
  left: 72.5586%;
  right: 23.4375%;
}

.gettingStarted {
  left: 48.1445%;
  right: 39.6484%;
}

.home {
  left: 41.3086%;
  right: 53.8086%;
}

.examples {
  left: 62.5977%;
  right: 29.7852%;
}


/* Media query for screens 768px and narrower */
@media (max-width: 768px) {
  .button {
    font-size: 14px;
  }
  
  .docs, .gettingStarted, .home, .examples {
    left: 50%; /* Center horizontally */
    right: auto;
    transform: translateX(-50%); /* Center using transform */
  }
}