.header-container {
  display: flex;
  align-items: center; /* Vertically center items within the container */
  flex-direction: row;
  justify-content: center;
}

/* Logo styles */
.logo {
  display: flex;
  justify-content: flex-start; 
  margin: 80px;
}

/* Login button and other buttons styles */
.buttons {
  display: flex;
  justify-content: center;
  justify-content: flex-start; 
  gap: 10%;
}


/* Common styles for buttons */
.docs,
.gettingStarted,
.home,
.examples {
  color: #4a4a4a;
  border: none; /* Remove the border */
  font-size: 16px;
  background-color: #f4f4f4;
  font-family: Montserrat, sans-serif;
  padding: 1% 10%;
  border-radius: 4px;
  position: relative;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

/* Login button styles */
.login {
  border: none; /* Remove the border */
  background-color: #255f82; /* Background color for the login button */
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  padding: 1% 5%;
  border-radius: 4px;
  position: relative;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: #007acc; /* Change the background color on hover for the login button */
}
