.root {
  position: absolute;
  left: 2926.6602%;
  right: -2834.7656%;
  top: 632.2917%;
  bottom: -565.625%;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 4px;
  background-color: #255f82;
}
.button {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.4578%;
  right: 15.6627%;
  top: 50%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
