.root {
  position: absolute;
  left: 4242.2852%;
  right: -4151.6602%;
  top: 419.7917%;
  bottom: -355.2083%;
  flex-direction: column;
  align-items: flex-start;
}
.capitalOneLogo {
  position: absolute;
  left: 0;
  top: 0;
  width: 96px;
  height: 34px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
