.root {
  height: 100%;
  font-family: sans-serif;
  background-color: #f2f2f2;
  flex-basis: 100%;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}
.docs {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 72.5586%;
  right: 23.4375%;
  top: 50%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.gettingStarted {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 48.1445%;
  right: 39.6484%;
  top: 50%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.home {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 41.3086%;
  right: 53.8086%;
  top: 50%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.examples {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 62.5977%;
  right: 29.7852%;
  top: 50%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
